*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Properties */
:root {
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: sans-serif;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-medium: 500;
  --fw-semiBold: 600;
  --fw-bold: 700;
  --fw-extraBold: 800;
  --fw-bolder: 900;

  --clr-light: #ffffff;
  --clr-grey: #ececec;
  --clr-dark: #0e0e0e;
  /* --clr-accent: ; */
  /* --clr-neutral-100: ; */
  /* --clr-priamry-100: ; */

  --fs-800: 3rem;
  --fs-700: 2.25rem;
  --fs-600: 2rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
  --fs-200: 0.8rem;
  --fs-100: 0.75rem;

  --lh-800: 1.714;
  --lh-700: 1.667;
  --lh-600: 1.25;
  --lh-500: 1.2;
  --lh-400: 1;

  /* --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15); */
}

@media (min-width: 800px) {
  :root {
    --fs-800: 3rem;
    --fs-700: 2.25rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
    --fs-200: 0.8rem;
    --fs-100: 0.75rem;
  }
}

/* General styles */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  color: var(--clr-dark);
}

.App {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

img {
  display: block;
  max-width: 100%;
}

/* Button */

/* Typography */

.header__nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-400);
  text-decoration: none;
}

header,
.header__nav,
.footer {
  background-color: var(--clr-dark);
}

.header__nav,
.footer {
  color: var(--clr-grey);
}

/* .header__nav_link:hover {
  color: var(--clr-light);
}

.header__nav_link::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background-color: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}

.header__nav_link:hover::after {
  width: 100%;
  border-radius: 4px;
  background-color: var(--clr-light);
} */

.header__nav__list {
  margin: 0;
  padding-left: 6rem;
  height: 100%;
  list-style: none;
}

.footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__item {
  line-height: var(--lh-800);
  font-size: var(--fs-200);
  font-weight: var(--fw-medium);
}

.footer__item:not(:last-child) {
  margin-bottom: 4px;
}

.footer__item-heading {
  font-weight: var(--fw-extraBold);
  font-size: var(--fs-400);
  margin-bottom: 1rem;
}

.footer__copyright {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
}

.footer__authors {
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  line-height: var(--lh-700);
  /* Solution to opacity only targeting text */
  color: rgba(236, 236, 236, 0.3);
}

.color-light {
  color: var(--clr-grey);
}

@media (min-width: 800px) {
  .header__nav_link {
    line-height: var(--lh-500);
    font-size: var(--fs-500);
    font-weight: var(--fw-semiBold);
  }

  .footer__statement {
    font-size: var(--fs-600);
    line-height: var(--lh-600);
  }

  .footer__copyright {
    margin-top: auto;
    font-size: var(--fs-400);
  }

  .footer__item {
    font-size: var(--fs-300);
  }
}

/* Navigation */

header,
.header__nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  height: 7.5rem;
  position: fixed;
}

.header__nav-container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 6rem;
  padding-right: 6rem;
  width: 100%;
}

.header__nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;

  transform: translateX(100%);
  transition: transform 200ms cubic-bezier(0.5, 0, 0.5, 1);
}

.header__logo-image {
  margin-right: auto;
  z-index: 100;
}

.header__nav__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;

  transform: translateY(-10%);
}

.nav-toggle {
  background: transparent;
  border: 0;
  cursor: pointer;
  margin-left: auto;
  z-index: 1000;
}

.nav-open .header__nav {
  transform: translateX(0%);
}

.nav-open .hamburger {
  transform: rotate(135deg);
  transition: transform 500ms;
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250 ease-in-out;
}

.accent,
.accent::before,
.accent::after {
  background-color: var(--clr-light);
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

@media (min-width: 800px) {
  .header__nav {
    position: relative;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    transform: none;
  }

  .header__nav__list {
    padding: 0;

    flex-direction: row;
    gap: 3rem;

    transform: translateY(0);
  }

  .hamburger,
  .nav-toggle {
    display: none;
  }
}

/* Footer */

.footer {
  margin-top: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__grid-container {
  margin: 5rem 6rem 2rem;

  display: grid;
  gap: 2em;
}

.footer__logo-image {
  width: 237px;
  height: 56px;
}

@media (min-width: 800px) {
  .footer__grid-container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }

  .grid-span-12 {
    grid-column-start: span 12;
    max-width: 832px;
  }

  .grid-span-6 {
    grid-column-start: span 6;
  }

  .grid-span-2 {
    grid-column-start: span 2;
  }
}
